/* ======================= */
/* FONT STYLE              */
/* ======================= */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v128/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
*{
    user-select: none;
    box-sizing: border-box;
}
.fa{
    font-size: 15px;
}

/* ======================= */
/* BUTTON COMPONENTS STYLE */
/* ======================= */
.u-btn{
    padding: 0.2em 0.8em;
    outline: none;
    border: none;
    border-radius: 2px;
    outline: none !important;
    transition: all .2s ease-in;
    background-color: #fff;
    user-select: none !important;
}
select, option{
    user-select: none !important;
}
.no-select, .cont_select_int, .selecionado_opcion, .icon_select_mate {
    user-select: none !important;
}
.u-btn-primary{
    background-color: #fff;
    color: #1787fc;
    font-weight: bold;
    border: 2px solid #1787fc;
}
.u-btn-primary:hover{
    background-color: #1787fc;
    color: #fff;
}
.u-btn-secondary{
    background-color: #1787fc;
    color: #fff;
    font-weight: bold;
    border: 2px solid #1787fc;
}
.u-btn-secondary:hover{
    background-color: #fff;
    color: #1787fc;
    border-color: #fff;
}
.u-btn-transparent{
    background-color: transparent;
}
.btn-lot{
    background-color: #fff;
    border-radius: 2px;
    margin: 0 0em 0 0.4em;
    padding: 0.2em;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
.btn-lot .u-btn{
    /* background-color: rgb(174, 31, 31); */
}
.u-icon, .github{
    transition: all .3s ease-in-out;
}
.u-btn:hover .u-icon, .github:hover .u-icon{
    transform: scale(1.4);
}
.btn-primary-border{
    border-color: #1787fc;
    color: #1787fc !important;
}

/* ========================= */
/* DIAGRAMS COMPONENTS STYLE */
/* ========================= */
.diagram-zone{
    background-color: rgb(236, 236, 236);
    /* background-image: linear-gradient(#f0f1ff 1.7px,transparent 0),linear-gradient(90deg,#f0f1ff 1.7px,transparent 0),linear-gradient(#f0f1ff 1px,transparent 0),linear-gradient(90deg,#f0f1ff 1px,#f7f9ff 0); */
    background-image: linear-gradient(#e6e6e6 1.7px,transparent 0),
        linear-gradient(90deg,#e6e6e6 1.7px,transparent 0),
        linear-gradient(#e6e6e6 1px,transparent 0),
        linear-gradient(90deg,#e6e6e6 1px,#ececec 0);
    background-size: 80px 80px,80px 80px,20px 20px,20px 20px;
}
.u-bg-light{
    background-color: #ececec;
}
.u-bg-dark{
    background-color: #263238;
}
.u-bg-blue{
    background-color: #1787fc;
}

#myDiagramDiv canvas{
    width: 100% !important;
}
.u-btn-share img{
    position: relative;
    top: -.125em;
}
.u-btn-user img{
    margin: 0 .3em;
}
.smart-shadow{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}